<%- include('partials/head') %>
<%- include('partials/header') %>

<!-- HEADER -->
<header>
  <div class="banner">
    <div class="banner-text">
      <h1>Happy Running 2025</h1>
      <p>¡Desafía tus límites y vive la experiencia!</p>
      <a href="/inscripcion" class="btn-banner">Inscripción</a>
    </div>
  </div>
</header>

<!-- INFORMACIÓN DEL EVENTO -->
<section id="info" class="event-info">
  <h2>Nocturna Mendoza - 10K</h2>
  <div class="event-details">
    <div class="detail">
      <h3>Fecha</h3>
      <p>29 de Noviembre de 2025</p>
    </div>
    <div class="detail">
      <h3>Hora</h3>
      <p>21:30 pm</p>
    </div>
    <div class="detail">
      <h3>Ubicacion:</h3>
      <p> Explanada Casa de Gobierno, Mendoza.</p>
    </div>
  </div>
</section>

<!-- GALERÍA -->
<section class="gallery">
  <h2>¡Desafía tus límites y vive la experiencia!</h2>
  <div class="gallery-container">
    <img src="/resources/img/corredores-alegres-divirtiendose-mientras-participan-en-una-carrera-en-la-naturaleza.jpg" alt="Corredores en acción">
    <img src="/resources/img/diferentes-personas-participando-en-un-campo-traves.jpg" alt="Salida de la carrera">
    <img src="/resources/img/mujeres-atleticas-felices-apoyandose-mutuamente-mientras-corren-un-maraton-en-la-naturaleza (1).jpg" alt="Llegada a la meta">
  </div>
</section>

<%- include('partials/footer') %>