
body {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #333;
  min-height: 100vh;
}

h1, h2, h3 {
  color:  whitesmoke;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.highlight {
  color: #ffeb3b; 
}


.card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}


.table {
  background: wheat;
  border-radius: 10px;
  overflow: hidden;
}
.table thead {
  background:  blue;
  color: wheat;
}
.table tbody tr:hover {
  background-color: wheat;
  transform: scale(1.01);
  transition: 0.3s;
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  .card {
    padding: 15px;
  }
  .table {
    font-size: 0.9rem;
  }
}